<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Copied from: https://github.com/ros-controls/ros2_control_demos/blob/master/example_2/description/ros2_control/diffbot.ros2_control.xacro -->
  <xacro:macro name="rover_ros2_control" params="name use_gazebo:=^|false">     
    <ros2_control name="${name}/DiffDrive" type="actuator">
      <hardware>

        <!-- plugin to use in sim mode -->
        <xacro:if value="${use_gazebo}">
          <plugin>rover_hardware/DiffDrive</plugin>
        </xacro:if>

        <!-- otherwise, in real bot mode. -->
        <xacro:unless value="${use_gazebo}">
          <plugin>rover_hardware/DiffDrive</plugin>
          <!-- Additional params:
          <param name="example_param_hw_start_duration_sec">0</param>
          <param name="example_param_hw_stop_duration_sec">3.0</param>
          <param name="example_param_hw_slowdown">100</param>
          -->
        </xacro:unless>
      </hardware>

      <!-- Only controls velocity of motors -->
      <!-- TODO: Add PID to make sure this stays accurate? -->
      <joint name="left_wheel_joint">
        <command_interface name="velocity"/>
      </joint>
      <joint name="right_wheel_joint">
        <command_interface name="velocity"/>
      </joint>
    </ros2_control>


    <!-- Arduino Encoder parser -->
    <ros2_control name="${name}/DiffDrive" type="sensor">
      <hardware>
        <!-- plugin to use in sim mode -->
        <xacro:if value="${use_gazebo}">
          <plugin>rover_hardware/DiffDrive</plugin>
        </xacro:if>

        <!-- otherwise, in real bot mode. -->
        <xacro:unless value="${use_gazebo}">
          <plugin>rover_hardware/DiffDrive</plugin>
          <!-- Additional params:
            <param name="example_param_hw_start_duration_sec">0</param>
            <param name="example_param_hw_stop_duration_sec">3.0</param>
          <param name="example_param_hw_slowdown">100</param> -->
        </xacro:unless>
      </hardware>

      <joint name="left_wheel_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_wheel_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="caster_axis">
        <state_interface name="position"/>
      </joint>
      <joint name="caster_wheel_joint">
        <state_interface name="position"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>

<!--
<joint name="caster_axis">
  <state_interface name="position"/>
</joint>
<joint name="caster_wheel_joint">
  <state_interface name="position"/>
</joint>
-->
