<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Copied from: https://github.com/ros-controls/ros2_control_demos/blob/master/example_2/description/ros2_control/diffbot.ros2_control.xacro -->
  <xacro:macro name="diffbot_ros2_control" params="name use_gazebo:=^|false">     
    <ros2_control name="${name}" type="system">
      <hardware>
	<xacro:if value="${use_gazebo}">
	  <plugin>gz_ros2_control/GazeboSimSystem</plugin>
	</xacro:if>
	<xacro:unless value="${use_gazebo}">
	  <!-- Replace this with my own hardware interfaces -->
	  <plugin>ros2_control_demo_example_2/DiffBotSystemHardware</plugin>
	  <param name="example_param_hw_start_duration_sec">0</param>
	  <param name="example_param_hw_stop_duration_sec">3.0</param>
	  <param name="example_param_hw_slowdown">100</param> <!-- Unsure what this is for-->
	</xacro:unless>
      </hardware>
      <joint name="left_wheel_joint">
	<command_interface name="velocity"/>
	<state_interface name="position"/>
	<state_interface name="velocity"/>
      </joint>
      <joint name="right_wheel_joint">
	<command_interface name="velocity"/>
	<state_interface name="position"/>
	<state_interface name="velocity"/>
      </joint>
      <joint name="caster_axis">
        <state_interface name="position"/>
      </joint>
      <joint name="caster_wheel_joint">
        <state_interface name="position"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>

